*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Merriweather', serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;


}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
    background-attachment: fixed;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0px;



	
}
.col-2 h2{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff, #ff6d6d6d);
	background-attachment: fixed;
}
.header .row{
	margin-top: 70px;
}
.categories{
	margin: 70px 0;

}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3{
	overflow: hidden;
}
.col-3 img{
	width: 100%;
	transition: all 1s;
	cursor: pointer;
}
.col-3:hover img{
	transform: scale(1.25);
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
}
.col-4{
	flex-basis: 25%;
	min-width: 200px;
	padding: 10px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	line-height: 60px;
	position: relative;
	color: #555;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	position: absolute;
	border-radius: 5px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

}
h4{
	color: #555;
	font-weight: normal;

}
.col-4 p{
	font-size: 14px;

}
.rating .fa{
color: #ff5b3b;
}
.col-4:hover{
	transform: translateY(-5px);
}
.offer{
background: radial-gradient(#fff, #ff6d6d6d);
margin-top: 80px;
padding: 30px 0;	
}
.col-2 .offer-img{
	padding: 50px;
}
.col-2 h2{
	color: green;
}
small{
	color: #ff6d6d;
}

/*----testimonial---*/
.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.1);
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;

}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	color: #ff6d6d;
	font-size: 34px;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
/* -----brands---- */
.brands{
	margin: 100px auto;
}
.col-5{
	width: 160px;

}
.col-5 img{
	width: 100%;
	corser: pointer;
	filter: grayscale(100%)
}
.col-5 img:hover{
filter: grayscale(0)	
}
/*------------ footer ------*/
.footer{
	background: #000;
	color: #8a8a8a8a;
	padding: 60px 0 20px;
	font-size: 14px;
}
.footer p{
	color: #8a8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 260px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;

}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
ul{
	list-style-type: none;
	margin-left: 20px;
}
.app-logo{
margin-top: 20px;

}
.app-logo img{
	width: 144px;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 30px;
}
.footer hr{
	border: none;
	background: #5b5b5b;
	margin: 20px 0;
	height: 1px;

}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
}

/* ----------mediy query for menu--------- */
@media only screen and (max-width: 800px){

	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
	}
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-right: 50px;
		margin-bottom: 20px;
	}
}

/* ------------all produtcs--------- */
.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}
select{
	border: 1px solid #ff523b;
}
select:focus{
	outline: none;
}
.page-btn{
	margin: 0 auto 80px;
}
.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
}
.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}